.task-list-wrapper {
  display: flex;
  overflow: auto;
}

.task-wrapper {
  padding: 2rem;
}

.task-wrapper button {
  padding: 0.3rem 0.5rem;
}

.task-wrapper button:hover {
  background: lightgrey;
  transition: 0.2s ease-in-out;
}

.task-wrapper button:active {
  background: grey;
}

.title-input {
  height: 2.5rem;
  width: 8rem;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.styled-table thead tr {
  background-color: #6ba1e3;
  color: #ffffff;
}

.styled-table .title {
  background-color: #4c8bd9;
  color: #fff;
  font-size: large;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #4c8bd9;
}
